html,body { 
    margin: auto 0;
    box-sizing: border-box;
    overflow-x: hidden;

}

.navigation {
    background-color: black;
    display: flex;
    align-items:  center;
    justify-content: center;
    width: 100%;
    height: 60px;

}

.navigation div a, .navigation div {
    color: wheat;
    text-decoration: none;

}

.navigation div {
    margin: 0 20px ;
}

.introduction {
    background: #2e2e2e;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.avatar {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.introduction p {
    color: #ffffff;
    font-size: 2.1em;
}

/* SKILL section */
section {
    margin: 10px;
}

section div {
    margin-bottom: 15px;
}

section div h1, section div p {
    text-align: center;
    margin: 0.0;
}

.skills {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.skill {
    width: 200px;
    margin: 15px 10px;
    padding: 0 10px;
    text-align: center;
    background-color: #f1f1f1;
    box-shadow: 0 4px 8px 0 rgb(0.2, 0.4, 0.6, 0.8);
}

.projects {
    display: flex;
    flex-wrap: wrap;
}