html, body{
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    background: rgb(231, 182, 91);
}

.card{
    font-family: "Candara", sans-serif;
    width: 340px;
    overflow: hidden;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0.2, 0.4, 0.6, 0.8);
    display: flex;
    flex-direction: column;
}

.card-image img{
    width: 100%;
    height: 160px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.profile-image img{
    z-index: 1;
    height: 120px;
    width: 120px;
    position: relative;
    margin-top: -75px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    border: 10px solid rgb(172, 199, 51);
    transition-duration: 0.4s;
    transition-property: transform;
}

.profile-image img:hover{
    transform: scale(1.1);
}

.card-content h3{
    font-size: 25px;
    text-align: center;
    margin: 0;
}

.card-content p{
    font-size: 16px;
    text-align: justify;
    padding: 0 20px 5px 20px;
}

.icons{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 30px;
}

.icons a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(247, 19, 49);
    padding: 0 14px;
    transition-duration: 0.4s;
    transition-property: transform;
}

.icons a:hover{
    color: black;
    transform: scale(1.5);
}


.navigation{
    position: fixed;
    background-color: black;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation div{
    margin: 0 25px;
    color: white;
}

.navigation div a{
    text-decoration: none;
    color: white;
}

.skills {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.skill {
    width: 200px;
    margin: 15px 10px;
    padding: 0 10px;
    text-align: center;
    background-color: rgb(172, 199, 51);;
    box-shadow: 0 4px 8px 0 rgba(0.2, 0.4, 0.6, 0.8);
    border-radius: 50px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.texts {
    text-align: center;
}



section {
    margin: 10px;
}

section div {
    margin-bottom: 15px;
}

section div h1, section div p {
    text-align: center;
    margin: 0 0;
}