html,body{
    margin: 0;
     box-sizing: border-box;
}


.myimg{
    width:300px;
    height:300px;
    object-fit:cover;
    border-radius:50%;
}
.introduction{
    height: 100vh;
    background-color: #2f2f2f;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.avatar{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.introduction{
    font-size: 1.2em;
    color: #ffffff;
}

.contact {
    position: relative;
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    justify-items: flex-start;
}
.contact-form {
    position: relative;
    background: transparent;
    width: calc(100% - 400px);
    padding: 60px 40px 20px;

}
.contact-form form {
    margin-left: 40px;
    width: 90%;
    border-radius: 10px;
    border: 3px solid;
    border-color: rgb(138, 190, 41);
    background-color: white;
}

.contact-form .row {
    width: 100%;
    display: flex;
    margin: 5px 10px;

}
.contact-form .fullinput {
    width: 100%;
    margin: 0 30px;
}
.contact-form .row input,
.contact-form .row textarea {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.8);
    color: #111;
    background: transparent;
    width: 100%;
    padding: 10px;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0;
    resize: none;
}

.contact-form .row textarea {
    height: 120px;
}

.contact-form .row input[type='Submit'] {
    background-color: var(--primary-color);
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 0;
    margin: 0;
    font-weight: 400;
    cursor: pointer;
    align-content: center;
    display: flex;
    justify-content: center;
}

.contact-info {
    margin-right: 60px;
    width: 350px;
    background: blanchedalmond;
    padding: 15px 5px 25px;
    border-radius: 50px;
    border: 3px solid;
    border-color: rgb(138, 190, 41);
}
.contact-info .info-box {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
}

.contact-info .info-box .contact-icon {
    width: 20px;
    margin-right: 40px;

}
.contact-info .info-box .details a {
    color: #111;
}
.projects {
    display: flex;
    flex-wrap: wrap;

}

.project {
    flex: 50%;
    max-width: 100%;
    text-align: center;
}

.project p {
    margin: 0 10px;

}

section {
    margin: 10px;
}
section div {
    margin-bottom: 15px;
}
section div h1, section div p {
    text-align: center;
    margin: 0 0;
}

button {
    background-color: blanchedalmond;
    align-content: center;
    justify-content: center;
    align-items: center;
}
